* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .chat-container {
    width: 400px;
    max-width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
  }
  
  h1 {
    background-color: #E2AEDD;
    color: black;
    text-align: center;
    padding: 15px;
  }
  
  .chat-box {
    height: 300px;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .message-box {
    display: flex;
    padding: 10px;
  }
  
  .message-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .message-box button {
    padding: 10px 20px;
    background-color: #983628;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .message-box button:hover {
    background-color: #581908;
  }
  
  .message {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .message-text {
    max-width: 80%;
  }
  
  .delete-btn {
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #ff2222;
  }
  